services:
  solr-instance-1:
    image: solr:9.9.0
    ports:
      - "8983:8983"
    networks: [search]
    environment:
      SOLR_MODE: "solrcloud"
      ZK_HOST: "zoo:2181"
      SOLR_MODULES: "ltr"
      SOLR_OPTS: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=18984 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
    volumes:
      - solr1_data:/var/solr

  solr-instance-2:
    image: solr:9.9.0
    ports:
      - "8984:8983"
    networks: [search]
    environment:
      SOLR_MODE: "solrcloud"
      ZK_HOST: "zoo:2181"
      SOLR_MODULES: "ltr"
      SOLR_OPTS: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=18984 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
    volumes:
      - solr2_data:/var/solr

  zoo:
    image: zookeeper:latest
    networks: [search]
    environment:
      ZOO_4LW_COMMANDS_WHITELIST: "mntr,conf,ruok"
    ports:
      - "2181:2181"

  prometheus:
    image: prom/prometheus:latest
    networks: [search]
    ports:
      - "9090:9090"
    volumes:
        - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    networks: [search]
    ports:
      - "3000:3000"
    environment:
        GF_SECURITY_ADMIN_PASSWORD: "admin"
    volumes:
      - ./grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

  #solr-exporter:
  #  image: solr:9.8.1
  #  networks: [search]
  #  command: ["/opt/solr/contrib/prometheus-exporter/bin/solr-exporter", "-p", "9854", "-z", "zoo:2181", "-f", "/opt/solr/contrib/prometheus-exporter/conf/solr-exporter-config.xml"]
  #  ports:
  #    - "9854:9854"
  #  depends_on:
  #    - solr-instance-1
  #    - solr-instance-2


volumes:
    grafana_data:
    solr1_data:
    solr2_data:

networks:
  search:
    driver: bridge