certifi==2024.8.30
charset-normalizer==3.4.0
docker==7.1.0
Faker==33.1.0
idna==3.10
pysolr==3.10.0
pytest==8.3.4
python-dotenv==1.0.1
requests==2.32.3
testcontainers==4.8.2
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
